body{

    background-color: #E5E5E5;;
}

h1{
    text-align: center;
    color: #0C0923;
    font-weight: normal;
    font-size: 40px;
    font-family: impact;
    text-transform: uppercase;
    margin: 0px;
}

h2{

    text-align: center;
    color: #0C0923;
    font-weight: normal;
    font-size: 20px;
    font-family: verdana;
    font-style: impact;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.33px;
}

.alura{

   width: 10%;
   float: left;
   position: relative;
   left: 300px;

}

.cesar{
   width: 10%;
   float: right; 
   position: relative;
   right: 280px;
   top: 10px;
}

header{
    padding: 0  0 50px;

}

.section-encriptar{
    position: relative;
    margin-left: 10px;
    margin-right: 950px;
    text-align: center;
}


.texto-encriptado{
    border-color: #0C0923;
    border-width: 3px;
}

label{

    color: #0C0923;
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.botones{

    position: relative;
    margin-top: 40%;
}

.boton-encriptar,.boton-desencriptar{
    height: 50px;
    width: 200px;
    font-size: 24px;
    margin: 10px;
    background-color: #0C0923;
    border: 2px solid darkblue;
    color: white;

}



.section-desencriptar{
    
    position: relative;
    margin-left: 1200px;
    margin-right: 10px;
    text-align: center;
}  




