body{

    background-color: #E5E5E5;;
}

h1{
    text-align: center;
    color: #0A3871;
    font-weight: normal;
    font-size: 40px;
    font-family: arial;
    text-transform: uppercase;
    margin: 0px;
}

h2{

    text-align: center;
    color: #0A3871;
    font-weight: normal;
    font-size: 20px;
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.33px;
}

.alura{

    height: 20px;
    border: 5px;
}

.cesar{
    height: 50px;
    border: 5px;  
}

header{
    padding: 0  0 50px;

}

.section-encriptar{
    position: absolute;
    width: 400px;
    margin-left: 50px;
}

.section-desencriptar{
    
    margin-left: 470px;
    margin-right: 20px;
}   
label{

    color: #0A3871;
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    text-align: center;
}
